<template>
<div class="container my-5">
    <h2 class="text-center mb-5">{{ establecimiento.nombre }}</h2>
    <div class="row align-items-start">
        <div class="col-md-8">
            <img :src="`storage/${establecimiento.imagen_principal}`" alt="Imagen" class="img-fluid">
            <p class="mt-5">{{ establecimiento.descripcion }}</p>
            <galeria-imagenes></galeria-imagenes>
        </div>
        <aside class="col-md-4">
            <div>
                <mapa-ubicacion></mapa-ubicacion>
            </div>
            <div class="p-4  bg-primary">
                <h2 class="text-center text-white mt-2 mb-4">Més Informació</h2>
                <p class="text-white mt-1">
                    <span class="font-weight-bold">
                        Municipi:
                    </span>
                    {{ establecimiento.localidad }}
                </p>
                <p class="text-white mt-1">
                    <span class="font-weight-bold">
                        Direcció:
                    </span>
                    {{ establecimiento.direccion }}
                </p>
                <p class="text-white mt-1">
                    <span class="font-weight-bold">
                        Horari:
                    </span>
                    {{ establecimiento.apertura }} - {{ establecimiento.cierre }}
                </p>
                <p class="text-white mt-1">
                    <span class="font-weight-bold">
                        Telèfon:
                    </span>
                    {{ establecimiento.telefono }}
                </p>
            </div>
        </aside>
    </div>
</div>
</template>

<script>
import MapaUbicacion from "./MapaUbicacion"
import GaleriaImagenes from "./GaleriaImagenes"
export default {
    components: {
        MapaUbicacion,
        GaleriaImagenes
    },
    mounted() {
        const {
            id
        } = this.$route.params

        axios.get("/api/establecimientos/" + id)
            .then(respuesta => {
                this.$store.commit("AGREGAR_ESTABLECIMIENTO", respuesta.data);
            });
    },
    computed: {
        establecimiento() {
            return this.$store.getters.obtenerEstablecimiento;
        }
    }
}
</script>
